---
import '../styles/global.css';
const faqs = [
  {
    id: "what-is-bf",
    question: "What is Bossfighting?",
    answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  },
  {
    id: "who-can-join",
    question: "Who can join?",
    answer: "Anyone can join! Anyone from all skill levels, whether you've never touched Godot or you're a seasoned game dev. We want you!! For those who are new, don't worry! We will have tutorials and guidance in Slack."
  },
  // {
  //   id: "what-is-bf",
  //   question: "What is Bossfighting?",
  //   answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  // },
  // {
  //   id: "what-is-bf",
  //   question: "What is Bossfighting?",
  //   answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  // },
  // {
  //   id: "what-is-bf",
  //   question: "What is Bossfighting?",
  //   answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  // },
  // {
  //   id: "what-is-bf",
  //   question: "What is Bossfighting?",
  //   answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  // },
  // {
  //   id: "what-is-bf",
  //   question: "What is Bossfighting?",
  //   answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  // },
  // {
  //   id: "what-is-bf",
  //   question: "What is Bossfighting?",
  //   answer: "Bossfighting is a Hack Club event where you build a boss fight in Godot, and then you can play everyone's bosses into one epic game! Cool merch and more to come in terms of prizes too!"
  // },
]
---

<section id="faq" class="bg-gray-950 flex flex-col items-center justify-center px-6 py-24 scroll-mt-2">
    
    <h1 class="font-display outline-gray-100 text-7xl sm:text-8xl md:text-9xl text-gray-100 [text-shadow:2px_2px_0_red] md:[text-shadow:4px_4px_0_red]">BOSSFIGHTING</h2>
    <h2 class="font-display text-7xl sm:text-8xl text-gray-100 [text-shadow:4px_4px_0_red]">Frequently Asked Questions</h2>
</section>