---
import orpheus from "../assets/flag-orpheus-left.svg?raw";
---
<!-- Tall wrapper class so there's room to scroll and visually nothing happens -->
<div class="h-screen">
    <div id="hero" class="fixed w-dvw h-dvh">
        <div class = "absolute inset-0 flex flex-col items-center justify-center">
            <h1 class="font-display outline-gray-100 text-7xl sm:text-8xl md:text-9xl text-gray-100 [text-shadow:2px_2px_0_red] md:[text-shadow:4px_4px_0_red]">BOSSFIGHTING</h2>
            <h3 class="font-display fill-gray-600 text-lg text-gray-500 text-center px-10">YS: A bossfight in godot. WS: a game with everyone's bossfights (+cool merch! and other stuff)</h3>
            <div class = "flex-row m-5">
                <a class="
                    p-2 px-3 rounded-full bg-red-500 
                    font-display text-lg text-red-100 
                    hover:bg-red-400 hover:p-3 hover:px-4 ease-out duration-200
                " href="https://forms.fillout.com/t/kYJ6JdyEyQus">RSVP</a>
                <a class="
                    p-2 px-3 rounded-full bg-red-100
                    font-display text-lg text-red-500
                    hover:bg-red-200 hover:p-3 hover:px-4 ease-out duration-200
                " href="https://hackclub.enterprise.slack.com/archives/C09TG04FFK6">Join Slack</a>
            </div>
        </div>
        <div class="pointer-events-none absolute inset-0" 
        style="background: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 2px,
        rgba(0,0,0,0.09) 2px,
            rgba(0,0,0,0.09) 4px
        )"></div>
        <a href="https://www.hackclub.com">
        <div class="absolute object-top-left my-5 w-40 origin-top-left hover:rotate-5 ease-out duration-300" >
            <Fragment set:html={orpheus} />
        </div>
        </a>
        <div id="scroll-hint" class="absolute bottom-8 left-1/2 -translate-x-1/2 items-center text-gray-500">
            <svg 
              class="w-6 h-6 animate-bounce" 
              fill="none" stroke="currentColor" stroke-width="2" 
              viewBox="0 0 24 24"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
    </div>
</div>