---
---

<div class="w-screen h-screen relative">
    <div class="absolute w-full h-full bg-gray-950">
    <div class = "absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="font-display outline-gray-100 text-9xl text-gray-100">BOSSFIGHTING</h2>
        <h3 class="font-display fill-gray-600 text-lg text-gray-600">YS: A bossfight in godot. WS: a game with everyone's bossfights (+cool merch!)</h3>
    </div>
</div>