---
import "../styles/global.css";
import Reveal from "../components/Reveal.astro";
const segmentsDefinition = [
    {
        words: [
            { text: "Boss", class: "font-bold text-white" },
            { text: "/bôs/", class: "italic text-white/60" }
        ],
        class: "font-display text-5xl tracking-widest text-gray-100 [text-shadow:2px_2px_0_red] font-bold",
        breakAfter: true,
    },
    {
        words: [
            { text: "A" },
            { text: "significantly", class: "text-red-500" },
            { text: "powerful" },
            { text: "non-player" },
            { text: "character" },
            { text: "created" },
            { text: "as" },
            { text: "a" },
            { text: "major", class: "[text-shadow:2px_2px_0_red]" },
            { text: "opponent", class: "[text-shadow:2px_2px_0_red]" },
            { text: "to" },
            { text: "players." },
        ],
        class: "font-display text-gray-100 text-3xl leading-7",
    },
];
const segmentsQuestion = [
    {
        words: ["Boss", "/bôs/"],
        class: "font-display text-5xl tracking-widest text-gray-100 [text-shadow:2px_2px_0_red] font-bold",
        // holdAfter: 0.0,
        // breakAfter: true,
    },
]
---

<section class="px-6 md:px-16 lg:px-24 max-w-3xl mx-auto">
    <Reveal segments={segmentsDefinition} scrollDuration=2 />
    <!-- <Reveal segments={segmentsQuestion} scrollDuration=2 /> -->
    <!-- <p class="font-display text-5xl outline-gray-10 [text-shadow:2px_2px_0_red] md:[text-shadow:4px_4px_0_red]">
        <strong>boss /bôs/ </strong>
    </p>
    <p class="font-display text-3xl text-white/60 leading-7">
        A significantly powerful non-player character created as a major
        opponent to players.
    </p> -->
</section>
