---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favico.ico" />
		<link rel="icon" href="/favico.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Bossfighting</title>
	</head>
	<body class="bg-gray-950">
        <div class="fixed w-full h-2 bg-red-500 z-10"></div>
        <div class="fixed w-full h-2 bottom-0 bg-red-500 z-10"></div>
		<slot />
	</body>
</html>
